extends ../../../../layout

block content
    h4 Consulta de Estado de la Reserva
    .container
        .row.justify-content-center
            .col-md-3
                .card.text-center(style='border: 0 !important')
                    img(src="/img/avatar.png" class="card-img-top" alt="Avatar del cliente")
                    .card-body
                        h5.card-title Juan Pérez
            .col
                .form-group
                    label(for='tipoBien') Código de reserva
                    select#tipoBien.form-control
                        option(selected) RE0012
                        option RE0011
                        option RE0004
                .form-group
                    label() Bienes almacenados
                    select#bienAlmacenado.form-control(multiple)
                        option Candelas
                        option Bengalas
                        option Cohetes
                        option Truenos
            .col
                h5 Datos de la reserva
                table.table.table-bordered.table-hover
                    tbody
                        tr
                            th Fecha de reserva
                            td 11/03/2019
                        tr
                            th Fecha de inicio
                            td 15/03/2019
                        tr
                            th Fecha de fin
                            td.text-danger 16/04/2019
                        tr
                            th Tipo de bien
                            td.text-primary Pirotécnico
        .row
            .table-responsive
                table#tableBienes.table.table-bordered.table-hover
                    thead.thead-dark
                        th Bien
                        th Unidad
                        th Cantidad en almacén
                    tbody
                        tr
                            td.text-center(colspan=3) Seleccione un bien para mostrar
        h5 Exportar
        .row.justify-content-between
            .col-auto
                button.btn.btn-outline-warning(onclick='enviarAmiCorreo()')
                    i.em.em-e-mail
                    | &nbsp;Enviar a mi correo
            .col
                button.btn.btn-outline-info(onclick='imprimirAhora()')
                    i.em.em-printer
                    | &nbsp;Imprimir ahora
append scripts
    script(src='/js/estadoReserva.js')