.row.justify-content-end
    .col-auto
        .btn-group-vertical
            button#btnGuardarTodoPeligrosidad.btn.btn-success Guardar todos los cambios
            button#btnAgregarTipoPeligrosidad.btn.btn-primary Agregar nuevo tipo
table#tableTipoPeligrosidad.table.table-bordered.table-hover
    thead.thead-dark
        th Código
        th Tipo daño salud
        th Tipo inflamabilidad
        th Tipo reactividad
        th Tipo riesgo específico
        th Estado
        th Acción
    tbody
        tr
            td PEL01
            td Sin riesgo
            td No se inflama
            td Estable
            td Ninguno
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoPeligrosidad1.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoPeligrosidad1') Activo
        tr
            td PEL02
            td Sin riesgo
            td Muy poco inflamable
            td Inestable al calentar
            td Ninguno
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoPeligrosidad2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoPeligrosidad2') Activo
        tr
            td PEL03
            td Sin riesgo
            td Inflamable
            td Inestable al calentar
            td Ninguno
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoPeligrosidad3.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoPeligrosidad3') Activo