block styles
    link(href='/css/parametros.css', rel='stylesheet')

.row.justify-content-end
    .col-auto
        .btn-group-vertical
            button#btnGuardarTodo.btn.btn-success Guardar todos los cambios
            button#btnAgregarTipoTemperatura.btn.btn-primary Agregar nuevo tipo
table#tableTiposTemperatura.table.table-bordered.table-hover
    thead.thead-dark
        th Código
        th Descripción
        th Temperatura
        th Peligrosidad
        th Protocolo
        th Costo Estimado
        th Estado
        th Acción
    tbody
        tr
            td ALM01
            td Carnes
            td Helado
            td PEL01
            td PROT01
            td
                a(href='#', onclick='mostrarDetalleCosto("ALM01")') Bajo
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#estadoProtocolo1.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='estadoProtocolo1') Activo
        tr
            td ALM01
            td Pirotécnicos
            td Normal
            td PEL03
            td PROT02
            td
                a(href='#', onclick='mostrarDetalleCosto("ALM02")') Bajo
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#estadoProtocolo2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='estadoProtocolo2') Activo
.modal.fade(tabindex='-1', role='dialog', aria-labelledby='titulo', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
        .modal-content
            .modal-header
                h5.modal-title Estimación del nivel de costo
                button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
            .modal-body
                b Costos por tipo de bien
                .table-responsive
                    table.table.table-bordered.table-hover.table-sm.table-primary
                        tbody
                            tr
                                th Temperatura
                                td#costoTemperatura
                            tr
                                th Peligrosidad
                                td#costoPeligrosidad
                            tr
                                th PROMEDIO
                                td#promedioTipoBien
                b Costos por tipo de protocolo
                .table-responsive
                    table.table.table-bordered.table-hover.table-sm.table-info
                        tbody
                            tr
                                th Solic. Ingreso
                                td#costoSolicIngreso
                            tr
                                th Recepción
                                td#costoRecepcion
                            tr
                                th Transporte
                                td#costoTransporte
                            tr
                                th Put Away
                                td#costoPutAway
                            tr
                                th Solic. Retiro
                                td#costoSolicRetiro
                            tr
                                th Picking
                                td#costoPicking
                            tr
                                th Packing
                                td#costoPacking
                            tr
                                th Despacho
                                td#costoDespacho
                            tr
                                th PROMEDIO
                                td#promedioTipoProtocolo
                    h5 Promedio general:
                        b#promedioGeneral
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
