block styles
    link(href='/css/parametros.css', rel='stylesheet')

.row.justify-content-end
    .col-auto
        .btn-group-vertical
            button#btnGuardarTodo.btn.btn-success Guardar todos los cambios
            button#btnAgregarTipoTemperatura.btn.btn-primary Agregar nuevo tipo
table#tableTiposTemperatura.table.table-bordered.table-hover
    thead.thead-dark
        th Código
        th Descripción
        th T. mínima
        th T. máxima
        th Estado
        th Acción
    tbody
        tr
            td TE01
            td(contenteditable='') Frío
            td.text-right 0.00 °C
            td.text-right 5.00 °C
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstado1.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstado1') Activo
        tr
            td TE02
            td(contenteditable='') Normal
            td.text-right 18.00 °C
            td.text-right 20.00 °C
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstado2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstado2') Activo
        tr
            td TE03
            td(contenteditable='') Helado
            td.text-right -10.00 °C
            td.text-right 0.00 °C
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstado3.custom-control-input(type='checkbox')
                    label.custom-control-label(for='checkEstado3') Activo
        tr
            td TE04
            td(contenteditable='') Frío 2
            td.text-right 0.00 °C
            td.text-right 5.00 °C
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstado4.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstado4') Activo