.row.justify-content-end
    .col-auto
        .btn-group-vertical
            button#btnGuardarNodos.btn.btn-success Guardar todos los cambios
            button#btnAgregarNodo.btn.btn-primary Agregar nuevo nodo
table#tableNodos.table.table-bordered.table-hover
    thead.thead-dark
        th Código
        th X
        th Y
        th Descripción
        th Estado
        th Acción
    tbody
        tr
            td N1
            td 0
            td 0
            td Recepción
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoNodo1.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoNodo1') Activo
        tr
            td N1
            td 30
            td 30
            td C1
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoNodo2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoNodo2') Activo
        tr
            td N1
            td 40
            td 40
            td C2
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoNodo3.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoNodo3') Activo
        tr
            td N1
            td 60
            td 60
            td C3
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoNodo4.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoNodo4') Activo
        tr
            td N1
            td 100
            td 100
            td C4
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoNodo5.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoNodo5') Activo