.row.justify-content-end
    .col-auto
        .btn-group-vertical
            button#btnGuardarRutas.btn.btn-success Guardar todos los cambios
            button#btnAgregarRuta.btn.btn-primary Agregar nuevo nodo
table#tableRutas.table.table-bordered.table-hover
    thead.thead-dark
        th Código
        th Descripción
        th Nodo Inicial
        th Nodo Final
        th Estado
        th Acción
    tbody
        tr
            td R1
            td De recepción a C1
            td N1
            td N47
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector1.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector1') Activo
            td
                button.btn.btn-info(onclick='verDetalleRuta("R1")') Ver detalle
        tr
            td R2
            td De C1 a C2
            td N47
            td N56
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector2') Activo
            td
                button.btn.btn-info(onclick='verDetalleRuta("R2")') Ver detalle
        tr
            td R3
            td De C3 a C4
            td N70
            td N80
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector3.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector3') Activo
            td
                button.btn.btn-info(onclick='verDetalleRuta("R3")') Ver detalle

table#relacionRutaVector.table.table-bordered.table-hover
    thead.thead-dark
        th Código Ruta
        th Código Vector
        th Secuencia
    tbody
        tr
            td(colspan=3).text-center Seleccione una ruta