.row.justify-content-end
    .col-auto
        .btn-group-vertical
            button#btnGuardarVectores.btn.btn-success Guardar todos los cambios
            button#btnAgregarVector.btn.btn-primary Agregar nuevo nodo
table#tableVectores.table.table-bordered.table-hover
    thead.thead-dark
        th Código
        th X
        th Y
        th Estado
        th Acción
    tbody
        tr
            td V1
            td 10
            td 30
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector1.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector1') Activo
        tr
            td V2
            td 10
            td 0
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector2') Activo
        tr
            td V3
            td 0
            td 30
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector3.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector3') Activo
        tr
            td V4
            td 10
            td 20
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector4.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector4') Activo
        tr
            td V5
            td 20
            td 10
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector5.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector5') Activo
        tr
            td V6
            td 10
            td 10
            td
                .custom-control.custom-checkbox.mr-sm-2
                    input#checkEstadoVector6.custom-control-input(type='checkbox' checked)
                    label.custom-control-label(for='checkEstadoVector6') Activo