<!DOCTYPE html>
html(lang="es")
	head
		meta(charset='utf-8')
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.min.css')
		link(href="/css/sidenav-bar.css", rel="stylesheet")
		link(href="/css/layout.css", rel="stylesheet")
		link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")
		block styles

	body
		#wrapper.toggled
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand
						a(href='/') Sistema de Almacenamiento
					li
						a(href='/menu/seguridad') 🔒 Seguridad
					li
						a.dropdown-toogle(href='#onlineMenu', data-toggle='collapse', aria-expanded='false') ✔️ Online
						ul#onlineMenu.collapse.list-unstyled
							li
								a.level-2.dropdown-toggle(href='#gerencialMenu', data-toggle='collapse', aria-expanded='false') Gerencial
								ul#gerencialMenu.collapse.list-unstyled
									li
										a.level-3.dropdown-toggle(href='#paramMenu', data-toggle='collapse', aria-expanded='false') Parámetros
										ul#paramMenu.collapse.list-unstyled
											li
												a.level-4(href='/menu/online/gerencial/parametros/general') Parámetros general
											li
												a.level-4(href='/menu/online/gerencial/parametros/catalogo/productos') Catálogo de productos
											li
												a.level-4(href='/menu/online/gerencial/parametros/catalogo/protocolos') Catálogo protocolos
											li
												a.level-4(href='/menu/online/gerencial/parametros/catalogo/reglas') Catálogo de reglas
											li
												a.level-4(href='/menu/online/gerencial/parametros/catalogo/rutas') Configuración de rutas
									li
										a.level-3.dropdown-toggle(href='#consultaMenu', data-toggle='collapse', aria-expanded='false') Consulta
										ul#consultaMenu.collapse.list-unstyled
											li
												a.level-4(href='/menu/online/gerencial/consulta/indicadores') Indicadores
							li
								a.level-2.dropdown-toggle(href='#operativoMenu', data-toggle='collapse', aria-expanded='false') Operativo
								ul#operativoMenu.collapse.list-unstyled
									li
										a.level-3.dropdown-toggle(href='#dataEntryMenu', data-toggle='collapse', aria-expanded='false') Data Entry
										ul#dataEntryMenu.collapse.list-unstyled
											li
												a.level-4(href='/menu/online/operativo/dataEntry/nuevaReserva') Nueva Reserva
											li
												a.level-4(href='/menu/online/operativo/dataEntry/entrada') Solicitud de entrada
											li
												a.level-4(href='/menu/online/operativo/dataEntry/salida') Solicitud de salida
									li
										a.level-3.dropdown-toggle(href='#reportesMenu', data-toggle='collapse', aria-expanded='false') Reportes
										ul#reportesMenu.collapse.list-unstyled
											li
												a.level-4(href='/menu/online/operativo/consultas/estadoReserva') Estado de reserva
					li
						a.dropdown-toogle(href='#batchMenu', data-toggle='collapse', aria-expanded='false') 🚧 Batch
						ul#batchMenu.collapse.list-unstyled
							li
								a.level-2.dropdown-toggle(href='#aplicativoMenu', data-toggle='collapse', aria-expanded='false') Aplicativo
								ul#aplicativoMenu.collapse.list-unstyled
									li
										a.level-3.dropdown-toggle(href='/menu/batch/aplicativo/actualizacion') Actualización de BD
									li
										a.level-3.dropdown-toggle(href='#estadisticasMenu', data-toggle='collapse', aria-expanded='false') Estadísticas
										ul#estadisticasMenu.collapse.list-unstyled
											li
												a.level-4(href='/menu/batch/aplicativo/dataEntry/estadoReserva') Estado de reserva
			#page-content-wrapper
				.container-fluid
					block content
		block scripts
			script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
			script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
			script(src="/js/principal.js")