.card-text{
  font-size: 2em;
  font-weight: bold;
}

.no-wrap-cell {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

@media (min-width: 768px){
  #wrapper.toggled {
    padding-left: 200px;
  }
}

#wrapper.toggled {
  padding-left: 300px;
}

.lower-case-input {
  text-transform: none
}