extends ../layout

block content
	h4= title
	.container.justify-content-center
		.row.h-100
			.col-md-2
				.btn-group-vertical
					button#btnAgregarTipoUsuario.btn.btn-success Agregar
					button#btnModificarTipoUsuario.btn.btn-warning Modificar
					button#btnEliminarTipoUsuario.btn.btn-danger Eliminar
			.col-md-5
				.form-group
					label(for='selectTiposUsuario') Tipos de usuario
					select#selectTiposUsuario.form-control
						option Gerente
						option Administrador de BD
						option Cliente
			.col-md-5
				.form-group
					label(for='selectPermisosAsignados') Privilegios Asignados
					select#selectPermisosAsignados.form-control(multiple)
	.modal.fade(tabindex='-1', role='dialog', aria-labelledby='titulo', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					h5#tituloModal.modal-title 
					button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
						span(aria-hidden='true') ×
				.modal-body
					.row.p-2
						.input-group
							.input-group-prepend
								.input-group-text Nombre nuevo tipo de usuario
							input#inputNombreTipoUsuario.form-control(type='text')
					.row.justify-content-center
						.col-md-5
							.form-group
								label(for='selectPrivilegiosGlobales') Lista de privilegios
								select#selectPrivilegiosGlobales.form-control(multiple)
						.col-md-2.align-self-center.text-center
							.btn-group-vertical
								button#btnAsignar.btn.btn-success &gt;
								button#btnQuitar.btn.btn-danger &lt;
						.col-md-5
							.form-group
								label(for='selectPrivilegiosAsignadosPorCrear') Lista de privilegios
								select#selectPrivilegiosAsignadosPorCrear.form-control(multiple)
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
					button#confirmarNuevoTipoUsuario.btn.btn-primary Guardar Cambios
append scripts
	script(src="/js/seguridad.js")