extends ../../../../../layout

block content
    .row.justify-content-around.py-2
        .col
            h4 Configuración de productos
    ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item
            a#productos-tab.nav-link.active(data-toggle='tab', href='#productos', role='tab', aria-controls='productos', aria-selected='true') Servicios
        li.nav-item
            a#temperatura-tab.nav-link(data-toggle='tab', href='#temperatura', role='tab', aria-controls='temperatura', aria-selected='true') Temperatura
        li.nav-item
            a#peligrosidad-tab.nav-link(data-toggle='tab', href='#peligrosidad', role='tab', aria-controls='peligrosidad', aria-selected='false') Peligrosidad
    #myTabContent.tab-content
        #productos.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='productos-tab')
            include ./templates/productos
        #temperatura.tab-pane.fade.show(role='tabpanel', aria-labelledby='temperatura-tab')
            include ./templates/temperatura
        #peligrosidad.tab-pane.fade(role='tabpanel', aria-labelledby='peligrosidad-tab')
            include ./templates/peligrosidad

append scripts
    script(src='/js/parametros.js')
    script(src='/js/productos.js')