extends ../../../../../layout
block styles
    link(href='/css/parametros.css', rel='stylesheet')
block content
    .row.justify-content-center
        .col
            h4 Mantenimiento de Protocolos
        .col-auto
            .btn-group-vertical
                button.btn.btn-primary(onclick='agregarProtocolo()') Agregar nuevo protocolo
                button.btn.btn-success Guardar protocolos
    .row.py-3
        .table-responsive.text-nowrap
            table#tableProtocolos.table.table-bordered.table-hover
                thead.thead-light
                    th Código
                    th Solicitud de ingreso
                    th Recepción del bien
                    th Transporte
                    th Put Away
                    th Solicitud de retiro
                    th Picking
                    th Packing
                    th Despacho
                    th Acción
                tbody
                    tr
                        td PROT01
                        td Eventual
                        td Estándar
                        td Estándar
                        td Push back con rodillos
                        td Eventual
                        td Ninguno
                        td Ninguno
                        td Estándar
                    tr
                        td PROT02
                        td Eventual
                        td Minuciosa
                        td Estándar
                        td Dinámica con rodillos automát.
                        td Periódica
                        td Por unidad
                        td Agrupado de unidades
                        td Estándar
append scripts
    script(src='/js/protocolos.js')