extends ../../../../../layout

block content
    .row.justify-content-around.py-2
        .col
            h4 Configuración de rutas
    ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item
            a#nodos-tab.nav-link.active(data-toggle='tab', href='#nodos', role='tab', aria-controls='nodos', aria-selected='true') Nodos
        li.nav-item
            a#vector-tab.nav-link(data-toggle='tab', href='#vector', role='tab', aria-controls='vector', aria-selected='true') Vectores
        li.nav-item
            a#ruta-tab.nav-link(data-toggle='tab', href='#ruta', role='tab', aria-controls='ruta', aria-selected='false') Rutas
    #myTabContent.tab-content
        #nodos.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nodos-tab')
            include ./templateRutas/nodos
        #vector.tab-pane.fade.show(role='tabpanel', aria-labelledby='vector-tab')
            include ./templateRutas/vectores
        #ruta.tab-pane.fade(role='tabpanel', aria-labelledby='ruta-tab')
            include ./templateRutas/rutas

append scripts
    script(src='/js/rutas.js')