extends ../../../../layout

block styles
    link(href='/vendor/jqueryUI/css/jquery-ui.min.css', rel='stylesheet')

block content
    h4 Nueva Reserva
    .container
        .row.justify-content-center
            .col-auto
                .card.text-center(style='border: 0 !important')
                    img(src="/img/avatar.png" class="card-img-top" alt="Avatar del cliente")
                    .card-body
                        h5.card-title Juan Pérez
                        a.btn.btn-secondary(href='/menu/online/operativo/consultas/estadoReserva') Ver estados de reserva
            .col-lg-6.col-md-12.p-2
                .form-group
                    label(for='tipoBien') Tipo de bien
                    input#tipoBien.form-control(type='list', list='listTipoBien', placeholder='Tipo de bien')
                    datalist#listTipoBien
                        option Verduras
                        option Carnes
                        option Muebles
                        option Pirotécnicos
                        option Vidrios
                .form-group
                    label(for='fechaInicio') Fecha de inicio
                    input#fechaInicio.form-control(type='text', placeholder='Fecha de inicio', autocomplete='off')
                .form-group
                    label(for='fechaFin') Fecha de fin
                    input#fechaFin.form-control(type='text', placeholder='Fecha de fin', autocomplete='off')
            .col-auto.p-2.text-center
                .form-inline
                    .form-group.mx-3
                        label.pr-2(for='volumenMaximo') Volumen máximo:
                        input#volumenMaximo.form-control(type='text', placeholder='Volumen máximo', autocomplete='off')
                    | m³
                button#btnConsultarDisponibilidad.btn.btn-primary.my-2 Consultar disponibilidad
                .alert.alert-success(role='alert', style='display: none')
                    h4.alert-heading ¡Bien hecho!
                    p Sector L reservado para sus bienes
                    hr
                    p Código de la reserva: RE0012
    .modal.fade(tabindex='-1', role='dialog', aria-labelledby='titulo', aria-hidden='true')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Consulta de disponibilidad
                    button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                        span(aria-hidden='true') ×
                .modal-body
                    p ¡Lo tenemos disponible!
                    | Ya puede realizar su reserva
                .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
                    button#confirmarReserva.btn.btn-success Confirmar reserva
append scripts
    script(src='/js/nuevaReserva.js')
    script(src="/vendor/jqueryUI/js/jquery-ui.min.js")
    script(src="/vendor/jqueryUI/js/datepicker-es.js")