extends ../../../../layout
block styles
    link(href='/vendor/jqueryUI/css/jquery-ui.min.css', rel='stylesheet')

block content
    h4 Solicitud de retiro
    .row
        .col-auto
            .card.text-center(style='border: 0 !important')
                img(src="/img/avatar.png" class="card-img-top" alt="Avatar del cliente")
                .card-body
                    h5.card-title Juan Pérez
                    a.btn.btn-secondary(href='/menu/online/operativo/consultas/estadoReserva') Ver estados de reserva
        .col-md-6.align-self-center
            .form-group
                label(for='tipoBien') Seleccionar código de reserva
                select#tipoBien.form-control
                    option(selected) RE0012
                    option RE0011
                    option RE0004
            .form-group
                label() Bienes almacenados
                select#bienAlmacenado.form-control
                    option Candelas
                    option Bengalas
                    option Cohetes
                    option Truenos
    h4 Detalles del retiro
    .container-fluid.border.py-3
        .row
            .col-md-4.align-self-center
                .form-group
                    label(for='fecha')
                        i.em.em-calendar
                        | &nbsp;Fecha
                    input#fecha.form-control(type='text', placeholder='Fecha', autocomplete='off')
                .form-group
                    label(for='hora')
                        i.em.em-alarm_clock
                        | &nbsp;Hora
                    input#hora.form-control(type='text', placeholder='Hora', autocomplete='off')
                    span.text-muted * Tolerancia de 30 minutos
            .col-md-8
                h5 Detalles del picking
                .container-fluid.border.py-2.my-2
                    span.text-info Picking pactado:&nbsp;
                        b Por unidad
                    .row.pt-2
                        .col
                            .form-group
                                label(for='unidad')
                                    i.em.em-straight_ruler
                                    | &nbsp;Sacar de:
                                select#unidad.form-control
                                    option Caja de 10 und
                                    option Caja de 50 und
                                    option Caja de 100 und
                                    option Caja de 200 und
                            .form-group
                                label(for='cantidad')
                                    i.em.em-pencil2
                                    | &nbsp;Número de unidades
                                input#cantidad.form-control(type='number', placeholder='Número de unidades', autocomplete='off', min=1)
                h5 Detalles del packing
                .container-fluid.border.py-2.my-2
                    span.text-info Packing pactado:&nbsp;
                        b Por paquete de N unidades
                    .row.pt-2
                        .col
                            .form-group
                                label(for='cantidad')
                                    i.em.em-package
                                    | &nbsp;Número de unidades por paquete
                                input#agrupado.form-control(type='number', placeholder='# de unidades por paquete', autocomplete='off', min=1)
        .row.justify-content-around
            .col.text-center
                button.btn.btn-danger Cancelar
            .col.text-center
                button#btnSolicitarRetiro.btn.btn-success Solicitar ingreso
    .modal.fade(tabindex='-1', role='dialog', aria-labelledby='titulo', aria-hidden='true')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    h5#tituloModal.modal-title Confirmación
                    button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                        span(aria-hidden='true') ×
                .modal-body
                    p ¿Está seguro de solicitar el retiro?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
                    button#confirmarSolicitudIngreso.btn.btn-primary Guardar Cambios
append scripts
    script(src='/js/entrada.js')
    script(src="/vendor/jqueryUI/js/jquery-ui.min.js")
    script(src="/vendor/jqueryUI/js/datepicker-es.js")